# Assignment for week 6

Use the following table to provide us with

|name | ANR|
|----|----|
|Bram Groenewoud| 342354|
|Teun Visser| 413508|

You need to read the data of salaries.csv
Call the dataframe s.
If you get the wrong output (all oberservations per row in one column), please look at the "separator" in the csv-file and adjust the read command, to that each observations is in one cell.

In [6]:
library(dplyr)
s <-read.csv2( 'salaries.csv' , sep=",") 
s

    X   rank        discipline yrs.since.phd yrs.service sex      salary
1    1   Prof        B         19            18           Male    139750
2    2   Prof        B         20            16           Male    173200
3    3   AsstProf    B          4             3           Male     79750
4    4   Prof        B         45            39           Male    115000
5    5   Prof        B         40            41           Male    141500
6    6   AssocProf   B          6             6           Male     97000
7    7   Prof        B         30            23           Male    175000
8    8   Prof        B         45            45           Male    147765
9    9   Prof        B         21            20           Male    119250
10  10   Prof        B         18            18           Female  129000
11  11   AssocProf   B         12             8           Male    119800
12  12   AsstProf    B          7             2           Male     79800
13  13   AsstProf    B          1             1           Male     77700
14  14   AsstProf    B          2             0           Male     78000
15  15   Prof        B         20            18           Male    104800
16  16   Prof        B         12             3           Male    117150
17  17   Prof        B         19            20           Male    101000
18  18   Prof        A         38            34           Male    103450
19  19   Prof        A         37            23           Male    124750
20  20   Prof        A         39            36           Female  137000
21  21   Prof        A         31            26           Male     89565
22  22   Prof        A         36            31           Male    102580
23  23   Prof        A         34            30           Male     93904
24  24   Prof        A         24            19           Male    113068
25  25   AssocProf   A         13             8           Female   74830
26  26   Prof        A         21             8           Male    106294
27  27   Prof        A         35            23           Male    134885
28  28   AsstProf    B          5             3           Male     82379
29  29   AsstProf    B         11             0           Male     77000
30  30   Prof        B         12             8           Male    118223
... ... ...         ...        ...           ...         ...      ...
368 368  AssocProf   A         10             1           Male    108413
369 369  Prof        A         35            30           Male    131950
370 370  Prof        A         33            31           Male    134690
371 371  AssocProf   A         13             8           Male     78182
372 372  Prof        A         23            20           Male    110515
373 373  Prof        A         12             7           Male    109707
374 374  Prof        A         30            26           Male    136660
375 375  Prof        A         27            19           Male    103275
376 376  Prof        A         28            26           Male    103649
377 377  AsstProf    A          4             1           Male     74856
378 378  AsstProf    A          6             3           Male     77081
379 379  Prof        A         38            38           Male    150680
380 380  AssocProf   A         11             8           Male    104121
381 381  AsstProf    A          8             3           Male     75996
382 382  Prof        A         27            23           Male    172505
383 383  AssocProf   A          8             5           Male     86895
384 384  Prof        A         44            44           Male    105000
385 385  Prof        A         27            21           Male    125192
386 386  Prof        A         15             9           Male    114330
387 387  Prof        A         29            27           Male    139219
388 388  Prof        A         29            15           Male    109305
389 389  Prof        A         38            36           Male    119450
390 390  Prof        A         33            18           Male    186023
391 391  Prof        A         40            19           Male    166605
392 392  Prof        A         30            19           Male    151292
393 393  Prof        A         33            30           Male    103106
394 394  Prof        A         31            19           Male    150564
395 395  Prof        A         42            25           Male    101738
396 396  Prof        A         25            15           Male     95329
397 397  AsstProf    A          8             4           Male     81035

Show the data with the command head()

In [2]:
head(s)

  X rank        discipline yrs.since.phd yrs.service sex    salary
1 1  Prof        B         19            18           Male  139750
2 2  Prof        B         20            16           Male  173200
3 3  AsstProf    B          4             3           Male   79750
4 4  Prof        B         45            39           Male  115000
5 5  Prof        B         40            41           Male  141500
6 6  AssocProf   B          6             6           Male   97000

Show the structure of the dataset with the command str()

In [3]:
str(s)

'data.frame':	397 obs. of  7 variables:
 $ X            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ rank         : Factor w/ 3 levels " AssocProf ",..: 3 3 2 3 3 1 3 3 3 3 ...
 $ discipline   : Factor w/ 2 levels " A "," B ": 2 2 2 2 2 2 2 2 2 2 ...
 $ yrs.since.phd: int  19 20 4 45 40 6 30 45 21 18 ...
 $ yrs.service  : int  18 16 3 39 41 6 23 45 20 18 ...
 $ sex          : Factor w/ 2 levels " Female "," Male ": 2 2 2 2 2 2 2 2 2 1 ...
 $ salary       : int  139750 173200 79750 115000 141500 97000 175000 147765 119250 129000 ...

Change the variable "salary" into a numeric variable, with the command as.numeric

In [4]:
s$salary <- as.numeric(s$salary)

Show the new structure of the dataset with the command str()

In [5]:
str(s)

'data.frame':	397 obs. of  7 variables:
 $ X            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ rank         : Factor w/ 3 levels " AssocProf ",..: 3 3 2 3 3 1 3 3 3 3 ...
 $ discipline   : Factor w/ 2 levels " A "," B ": 2 2 2 2 2 2 2 2 2 2 ...
 $ yrs.since.phd: int  19 20 4 45 40 6 30 45 21 18 ...
 $ yrs.service  : int  18 16 3 39 41 6 23 45 20 18 ...
 $ sex          : Factor w/ 2 levels " Female "," Male ": 2 2 2 2 2 2 2 2 2 1 ...
 $ salary       : num  139750 173200 79750 115000 141500 ...